$item-text-size: 11px;
.Item{
	font-family: 'ArialMT';
	font-size: $item-text-size;
	line-height: 24px;	 
	hr{
		margin-bottom: 10px;
	}
	&--nCategoria{
		hr{
			border-top: 1px solid $second_color;

		}
	}
	&-art{
		color: #5D5D5D;
		font-size: 10px;
		text-transform: capitalize;
	}
	&-price{
		float: right;
	}
	&-var{
		color: #000;
		font-size: 10px;
		margin: 10px 0px;
	    display: flex;
	    justify-content: flex-start;
	    align-items: center;
		        display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	.close{
		background: #000;
		opacity: 1;
		text-shadow: none;
		color: #FFF;
		width:14px;
		border-radius: 50%;
		font-size: 14px;
	}
	select{
		height: 21px;
		border: 1px solid #ced4da;
		background-color: #FFF;
		text-align: center;
		margin:0px 5px;
		font-size: 12px;

	}
	select:nth-child(1){
		width: 48px;
	}
	a{
		height: 21px;
		width: 21px;
		border: 1px solid red;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		&:after{
			    content: 'X';
    background: #000;
    width: 12px;
    height: 12px;
    font-size: 7px;
    text-align: center;
    line-height: 12px;
    color: #FFF;
    border-radius: 12px;
		}

	}
	&-lSubtotal{
		display: none;
	}
	&-subtotal{
		width: 60px;
		text-align: right;
	}
}

.Checkout{
	font-family: 'ArialMT';
	font-weight: bold;
	text-transform: uppercase;
	&-btn{
		width: 100%;
		background-color: $second_color;
		font-family: 'CWM-Light';
		border: none;
		text-transform: uppercase;
		color:$primary_color;
		margin-top: 16px;
	}
	&-form{
		margin-top: 20px;
		label.col-form-label{
			text-transform: capitalize;
			font-size: 14px;
		}
		.form-control{
			line-height: 1;
			font-size: 14px;
		}
		.form-group{
			margin-bottom: 0px;
		}

	}

	&-tel{
		display:flex;
		justify-content: space-between;
		input:first-child{
			width: 20%;
		}
		input:last-child{
			width: 75%;
		}
	}
	&-list{
		padding: 0px;
		list-style: none;
		margin: 0px;
		li{
			text-align: right;
			span{
				font-weight: 400;
				display: inline-block;
				width: 60px;
			}

		}
	}
}